/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap");

/* Common styles  */
* {
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.header {
  background-color: #ff900e1a;
  padding: 49px 229px;
}

.title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.primary-button {
  background: #ff900e;
  border-radius: 8px;
  color: white;
  padding: 20px 24px;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  margin-bottom: 50px;
}

.grey {
  color: #727272;
  font-weight: 500;
}

.orange {
  color: #ff900e;
}

.big {
  font-weight: 700;
  font-size: 65px;
}

.feature-love .line {
  /* width: 500px; */
  height: 108px;
  border-left: 5px solid #ff900e;
  /* height: 200px; */
  position: absolute;
  margin-left: -750px;

  /* transform: translate(-735px); */
  left: 50%;
}

/* Nav styles  */
.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

/* Banner styles */
.banner {
  /* display: flex; */
  text-align: center;
}
.banner .banner-info .banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.banner .banner-info .subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Feature styles  */
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 73px;
  margin-bottom: 130px;
}
.features .subtitle {
  margin-bottom: 24px;
  margin-top: 30px;
}
.features .feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* Feature-love section  */
.feature-love {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.feature-love .subtitle {
  margin-top: 24px;
  margin-bottom: 30px;
}
.feature-love .articles article {
  width: 586px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}
.feature-love .articles article .article-title {
  font-weight: 600;
  font-size: 20px;
}
.feature-love .feature-love-button button {
  padding: 42px 45px;
  position: relative;
  transform: translate(-90px, -100px);
}
